
/* GENERAL STYLES */

.relative-container.elementor-element{
    position: relative;
    min-height: 80vh;
    overflow: hidden;
}

.background-element.elementor-element{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.background-element.elementor-element video{
    height: 100%;
    max-width: unset;
    object-fit: cover;
}


.content-container.elementor-element{
    height: 100%;
    width: 100%;

}

.ast-container{
    margin-top: 5rem;
}